[Unit]
Description=Multi Pool
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/yeahBox_server/yeahBox_server
ExecStop=/bin/kill -TERM $MAINPID
WorkingDirectory=/yeahBox_server
LimitNOFILE=102400

[Install]
WantedBy=multi-user.target
